<div class="header">
  <div class="wide-header">
    <div class="wide-slide">
      <div class="wide-wrap">
        <div class="wide-layer">
          <div id="wide_layer_1" class="wide-sheet">
            <img src="{{ "/img/wide/layer_1.png" | prepend: site.baseurl }}">
          </div>
        </div>
        <div class="wide-layer">
          <div id="wide_layer_2" class="wide-sheet">
            <img src="{{ "/img/wide/layer_2.png" | prepend: site.baseurl }}">
          </div>
        </div>
        <div class="wide-layer">
          <div id="wide_layer_3" class="wide-sheet">

          </div>
        </div>
        <div class="wide-layer">
          <div id="wide_layer_4" class="wide-sheet">
            <img src="{{ "/img/wide/layer_3.png" | prepend: site.baseurl }}">        
          </div>
        </div>
      </div>
    </div>
    <div class="wide-ctrl wide-autohide">
      <div id="wide_ctrl_slider" class="wide-ctrl-slider">
        <div id="wide_ctrl_handle" class="ui-slider-handle"></div>
      </div>
    </div>
    <div class="wide-gradient wide-autohide"></div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
